:root {
  --color-very-lt-gray: #F1F1F1;
  --color-lt-gray: #dbdbdb;
  --color-md-gray: #838384;
  --color-dk-gray: #313132;
}
/* --color-lt-gray: #B3B3B5; */

/* --- Universal Styles --- */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 18px;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}
a{transition: all 0.3s ease-in;}
.wrapper{width: 85%;margin: 0 auto;}
body{
  line-height: 1.35;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
header, section, footer{width: 100%;}
section, figure{margin: 0;}
.pic{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2{
  text-align: center;
  font-size: 2.25em;
  font-weight: 800;
  margin: 0;
  padding: 32px 0;
  color: var(--color-dk-gray);
}


/* --- Header --- */
header{padding: 0.75rem 0;}
.mobile-header{display: none;}
.mainHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{display: flex;align-items: center;}
.logo img{display: block;width: 50%;}
.logo p{
  text-transform: uppercase;
  letter-spacing: 0.85px;
  color: var(--color-dk-gray);
}
.logo p .academy{color: var(--color-md-gray);}
nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 3rem;
}
nav ul li:last-child{margin-right: 0;}
nav ul li a {
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--color-dk-gray);
  transition: color 0.2s ease-in-out;
}
nav ul li a:hover{color: var(--color-lt-gray);}


/* --- Intro --- */
#intro{background-color: var(--color-lt-gray);}
.introBanner{
  display: flex;
  align-items: center;
  color: var(--color-dk-gray);
}
.banner{
  width: 60%;
  height: 800px;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.introContent{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 48px;
}
.introContent h1{
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2.25rem;
}
.introContent p{font-size: 1.25rem;margin-bottom: 1.5rem;}
.introContent button{
  background-color: var(--color-dk-gray);
  font-size: 1.1em;
  padding: 1em 0;
  border: 0;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 3px;
  width: 50%;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-very-lt-gray);
  transition: all 0.3s ease;
}
.introContent button:hover{
  background-color: var(--color-very-lt-gray);
  color: var(--color-md-gray);
}


/* --- Practicing --- */
#practicing{
  background-color: var(--color-very-lt-gray);
}
.keepPracticing{
  color: var(--color-md-gray);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4rem 0;
}
.keepPracticing .imgTxt{width: 52%;}
.keepPracticing .imgTxt figure{
  padding-bottom: 36px;
  margin: 0;
}
.keepPracticing .imgTxt h3,
.keepPracticing .imgTxt p{
  margin: 0;
  padding-bottom: 20px;
}
.keepPracticing .imgTxt h3{
  font-size: 1.65em;
  font-weight: 800;
}
.keepPracticing .imgTxt p{
  font-weight: 400;
  line-height: 1.5;
}
.keepPracticing .imgTxt .author{
  padding-bottom: 0;
  font-style: italic;
}
.keepPracticing .infoLinks{
  padding-left: 24px;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.keepPracticing .infoLinks .orientation,
.keepPracticing .infoLinks .campus,
.keepPracticing .infoLinks .guest{
  border: 1px solid var(--color-lt-gray);
  padding: 15px 0 15px 24px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
}
.keepPracticing .infoLinks .orientation:hover,
.keepPracticing .infoLinks .campus:hover,
.keepPracticing .infoLinks .guest:hover{
  color: var(--color-dk-gray);
}
.infoLinks .mobile-linkImg img{
  display: none;
  visibility: hidden;
}
.infoLinks .linkImg{width: 35%;}
.infoLinks .linkTxt{
  padding-left: 36px;
  width: 60%;
}
.infoLinks .linkTxt h4{font-size: 1.1em;}
.infoLinks .linkTxt h4,
.infoLinks .linkTxt p{
  margin: 0;
  padding-bottom: 15px;
}
.infoLinks .linkTxt .read{padding: 0;}
.infoLinks .linkTxt .read a{
  color: #1CBDFF;
  text-decoration: none;
}
.infoLinks .linkTxt .read a:hover{text-decoration: underline;}


/* --- Start Learning --- */
#learning{background-color: var(--color-lt-gray);}
.startLearning .courses{
  width: 75%;
  padding-bottom: 5rem;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, 450px) / repeat(3, 1fr);
  grid-gap: 36px;
}
.startLearning .courses .box{
  background-color: var(--color-very-lt-gray);
  color: var(--color-md-gray);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px, rgba(0, 0, 0, 0.15) 0px 10px 10px;
  border-radius: 3px;
}
.startLearning .courses .box figure{padding-bottom: 32px;}
.startLearning .courses .box .boxTxt{
  width: 85%;
  margin: 0 auto;
}
.startLearning .courses .box .boxTxt h4{font-size: 1.1em;}
.startLearning .courses .box .boxTxt h4,
.startLearning .courses .box .boxTxt p{
  margin: 0;
  padding-bottom: 12px;
}


/* --- Thesis Exhibit --- */
#thesis{
  color: var(--color-md-gray);
  background-color: var(--color-very-lt-gray);
}
.exhibit{
  display: flex;
  align-items: flex-start;
  padding-bottom: 36px;
}
.exhibit .clipTxt{width: 60%;}
.exhibit .clipTxt video{
  padding-bottom: 36px;
  margin: 0;
}
.clipTxt .exhibitTxt h3{
  margin: 0;
  padding-bottom: 20px;
  font-size: 1.65em;
  font-weight: 800;
}
.clipTxt .exhibitTxt p{
  margin: 0;
  font-weight: 400;
}
.exhibit .thesisLinks{
  padding-left: 24px;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.exhibit .thesisLinks .fisma,
.exhibit .thesisLinks .nowAndthen{
  border: 1px solid var(--color-lt-gray);
  padding: 15px 0 15px 24px;
  display: flex;
  align-items: center;
}
.exhibit .thesisLinks .fisma:hover,
.exhibit .thesisLinks .nowAndthen:hover{
  background-color: var(--color-md-gray);
  color: var(--color-very-lt-gray);
  transition: background-color .3s ease-in-out,
  color .3s ease-in-out;
}
.exhibit .thesisLinks .linkImg{
  width: 35%;
}
.exhibit .thesisLinks .linkTxt{
  padding-left: 36px;
  width: 65%;
}
.exhibit .thesisLinks .linkTxt h4{
  font-size: 1.1em;
}
.exhibit .thesisLinks .linkTxt h4,
.exhibit .thesisLinks .linkTxt p{
  margin: 0;
  padding-bottom: 15px;
}


/* --- Footer --- */
footer{
  width: 100%;
  background-color: var(--color-dk-gray);
}
.mainFoot{
  padding: 20px 0;
  color: var(--color-very-lt-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainFoot .copy p{margin: 0;}
.mainFoot .terms ul{list-style: none;margin: 0;}
.mainFoot .terms ul li{
  display: inline-block;
  margin: 0;
  padding-left: 10px;
}
.mainFoot .terms ul li a{
  text-decoration: none;
  color: var(--color-very-lt-gray);
  margin: 0;
}