* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html {
    font-size: 18px;
}
header {
    padding: 1rem 0;
}
ul {
    li {
        list-style: none;
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    text-decoration: none;
    display: inline-block;
    margin-left: 1rem;
    color: #000;
}