@model Review

<div class="wrapper">
    <form asp-action="" asp-controller="Home" method="POST">
        <label asp-for="ReviewTitle">
            Title: 
            <span asp-validation-for="ReviewTitle"></span>
        </label>
        <input asp-for="ReviewTitle" value="@Model.ReviewTitle">

        <label asp-for="Description">
            Your review: 
            <span asp-validation-for="Description"></span>
        </label>
        <textarea asp-for="Description" value="@Model.Description"></textarea>

        <input type="submit" class="submit-btn" value="Update">
        <a id="cancel" class="form-link" asp-action="Dashboard" asp-controller="Home">Cancel</a>
    </form>
</div>