@model Review

<header>
    <div class="wrapper main-header">
        <div class="title">
            <a asp-action="Index" asp-controller="Home">
                <h1>Review</h1>
            </a>
        </div>
        <div class="navlinks">
            <ul>
                <li>
                    <a asp-action="Dashboard" asp-controller="Home">Dashboard</a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Home">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section id="editReview">
    <div class="wrapper dashBody">
        <form asp-action="EditReview" asp-controller="Home" method="POST">
            <label asp-for="ReviewTitle">
                Title: 
                <span asp-validation-for="ReviewTitle"></span>
            </label>
            <input asp-for="ReviewTitle" value="@Model.ReviewTitle">

            <label asp-for="Description">
                Your review: 
                <span asp-validation-for="Description"></span>
            </label>
            <textarea asp-for="Description" value="@Model.Description"></textarea>

            <input type="submit" class="submit-btn" value="Update">
            <a id="cancel" class="form-link" asp-action="ViewReview" asp-controller="Home" asp-route-reviewId="@Model.ReviewID">Cancel</a>
        </form>
    </div>
</section>