@using Microsoft.AspNetCore.Http

<header>
    <div class="wrapper main-header">
        <div class="title">
            <a asp-action="Index" asp-controller="Home">
                <h1>Review</h1>
            </a>
        </div>
        <div id="home" class="navlinks">
            <ul>
                <li>
                    <a asp-action="Dashboard" asp-controller="Home">Dashboard</a>
                </li>
                @if(Context.Session.GetInt32("UserID") == null)
                {
                    <li>
                        <a asp-action="Login" asp-controller="Home">Login</a>
                    </li>
                    <li>
                        <a id="register-link" asp-action="Register" asp-controller="Home">Register</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-action="Logout" asp-controller="Home">Logout</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</header>

<section id="banner">
    <div class="col banner-text">
        <h1>Check Or Post A Review</h1>
        <p>Trying to build an app where you can post, edit and delete a review. Wish me luck and hopefully this turns out alright</p>
        <div class="btn-container">
            <a class="banner-btn" asp-action="Register" asp-controller="Home">Get Started</a>
            <a class="banner-btn" asp-action="Login" asp-asp-controller="Home">View Reviews</a>
        </div>
    </div>
    <div class="col background-image"></div>
</section>