@model User

<header>
    <div class="wrapper main-header">
        <div class="title">
            <a asp-action="Index" asp-controller="Home">
                <h1>Review</h1>
            </a>
        </div>
        <div class="navlinks">
            <ul>
                <li>
                    <a asp-action="Login" asp-controller="Home">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section class="form-container">
    <form asp-action="NewUser" asp-controller="Home" method="POST">
        <label asp-for="FirstName">First name:</label>
        <input asp-for="FirstName">

        <label asp-for="LastName">Last name:</label>
        <input asp-for="LastName">

        <label asp-for="Email">Email:</label>
        <input asp-for="Email">

        <label asp-for="Password">Password:</label>
        <input asp-for="Password">

        <label asp-for="ConfirmPW">Confirm password:</label>
        <input asp-for="ConfirmPW">

        <input type="submit" class="submit-btn" value="Register">
        <a class="form-link" asp-action="Login" asp-controller="Home">Already have an account?</a>
    </form>
</section>