@model List<Review>
@using Microsoft.AspNetCore.Http

<header>
    <div class="wrapper main-header">
        <div class="title">
            <a asp-action="Index" asp-controller="Home">
                <h1>Review</h1>
            </a>
        </div>
        <div class="navlinks">
            <ul>
                <li>
                    <a asp-action="Dashboard" asp-controller="Home">Dashboard</a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Home">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section id="viewReview">
    <div class="wrapper dashBody">
        @foreach (var review in Model)
        {
            <h3>Review Title</h3>
            <p>@review.ReviewTitle</p>
            <h3>Author</h3>
            <p>@review.Creator.FirstName</p>
            <h3>Review</h3>
            <p>@review.Description</p>

            <div class="viewBtnContainer">
                <a asp-action="Dashboard" asp-controller="Home">Go back</a>
                @if(Context.Session.GetInt32("UserID") == @review.CreatorID)
                {
                    <button id="editBtn">Edit</button>
                }
            </div>
        }
    </div>
</section>