*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Inter', sans-serif;
    color: #000;
}
button{
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}
path, i, svg{
    pointer-events: none;
}
.colors{
    min-height: 90vh;
    display: flex;
    color: rgb(212, 212, 212);
}
.color{
    height: 90vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.color:hover .show{
    visibility: visible;
}
.color h2{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}
.sliders{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2%;
    background: rgb(255, 255, 255);
    transform: translateY(100px);
    opacity: 0;
    border-radius: 10px;
    padding: 2rem 1rem;
    width: 80%;
    transition: all 0.5s ease-in-out;
}
.sliders.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
.sliders button{
    padding: 0.1rem 1rem;
}
.save-popup .close,
.library-popup .close{
    padding: 0 0.5rem;
}
.sliders button,
.save-popup .close,
.library-popup .close{
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.65rem;
    background: none;
    color: #000;
    outline: 0;
    border: 0;
    cursor: pointer;
}
.sliders button:active{
    transform: scale(0.95);
}
.sliders span{
    color: #000;
    margin-bottom: 4px;
}
input[type="range"]{
    -webkit-appearance: none;
    margin-bottom: 0.5rem;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}
.controls{
    visibility: hidden;
    display: flex;
    flex-direction: column;
}
.adjust{
    margin-bottom: 1rem;
}
.controls button{
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    background: none;
}
.panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}
.panel button{
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.45rem 3rem;
    background: #000;
    color: #fff;
    border-radius: 30px;
    outline: 0;
    border: 0;
}
.panel button span{
    font-size: 1.75rem;
    margin-right: 7px;
}
.panel-styles{
    text-align: center;
}
.copy-container,
.save-container,
.library-container{
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.copy-container.active,
.save-container.active,
.library-container.active{
    opacity: 1;
    pointer-events: all;
}
.copy-popup{
    padding: 0.75rem 2rem;
}
.save-popup,
.library-popup{
    padding: 2rem 4.25rem;
}
.copy-popup,
.save-popup,
.library-popup{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    transform: translateY(-2rem);
    transition: transform 0.2s ease-in;
}
.copy-popup.active,
.save-popup.active,
.library-popup.active{
    transform: translateY(0rem);
    transition: transform 0.4s ease-in;
}
.copy-popup span{
    margin-top: 10px;
    font-size: 2.5rem;
}
.save-popup h4,
.save-popup input{
    margin-bottom: 10px;
}
.save-popup input{
    outline: 0;
    border: 2px solid #000;
    height: 1.75rem;
    width: 12rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    padding: 0 5px;
}
.save-popup button{
    outline: 0;
    border: 0;
    padding: 5px 3rem;
    background: #000;
    color: #fff;
    border-radius: 30px;
    font-size: 1rem;
}