* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
html {
    font-size: 18px;
    font-family: 'Spartan', sans-serif;
    scroll-behavior: smooth;
    font-weight: 400;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}