@media only screen and (max-width: 850px) {
    .mobile-header{
        padding: 1rem 0;
        width: 100%;
        display: block;

        .mobile-header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                width: 10%;
            }
            #hamburger-menu {
                // background: coral;
                padding: 1rem 0.15rem;
                cursor: pointer;

                .open-icon {
                display: block;
                position: relative;
                }
                .open-icon,
                .open-icon::before,
                .open-icon::after {
                width: 1.75rem;
                height: 3px;
                background: #000;
                border-radius: 30px;
                transition: transform 300ms ease-in-out, opacity 200ms linear;
                }
                .open-icon::before,
                .open-icon::after {
                content: '';
                position: absolute;
                left: 0;
                }
                .open-icon::before{bottom: 9px;}
                .open-icon::after{top: 9px;}

                .animate{
                transform: rotate(45deg);
                }
                .animate::before {
                opacity: 0;
                }
                .animate::after {
                transform: rotate(90deg) translate(-9px);
                }
            }
            #hamburger-menu:active {
                transform: scale(0.95);
            }
        }
    }

    #side-menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 300px;
        z-index: 5;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        a{
            color: #fff;
        }
        .title-link {
            width: 70%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-bottom: 2rem;

            .site-links {
                li {
                    margin-top: 0.5rem;
                }
                li:first-child {
                    margin-top: 0;
                }
                a {
                    font-size: 1.25rem;
                }
            }
        }
        .social-media-links {
            position: absolute;
            bottom: 3%;
            width: 100%;
            text-align: center;

            li {
                display: inline-block;
                margin-right: 1.75rem;
            }
            li:last-child {
                margin: 0;
            }
            a {
                font-size: 1.5rem;
            }
            a:active {
                transform: scale(0.98);
            }
        }
    }

}