.mobile-header{
    padding: 1rem 0;
    width: 100%;

    .mobile-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            width: 10%;
        }
    }
}