* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.wrapper {
    width: 85%;
    margin: 0 auto;
}