// Variables
$navy-blue: #012639;
$soft-black: #171717;
$soft-gray: #AAAAAA;

// Universal styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Kumbh Sans', sans-serif;
}
h3{
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
}
p{
    line-height: 1.45;
}
ul{
    list-style: none;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
.pic{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.split{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

// Header
header{
    width: 100%;
    background: $navy-blue;
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    .main-head{
        display: flex;
        justify-content: space-between;
        align-items: center;

            .logo{
                img{
                    width: 130%;
                }
            }
            nav{
                #hamburger-menu{
                    display: none;
                }
                li{
                    display: inline-block;
                    margin-left: 1.75rem;

                    a{
                        text-decoration: none;
                        color: #fff;
                        cursor: pointer;
                        padding-bottom: 2px;
                        border-bottom: 2px solid transparent;
                        transition: all 0.7s ease-out;
                    }
                    a:hover{
                        color: $soft-gray;
                        border-color: $soft-gray;
                        transition: all 0.3s ease-in;
                    }
                }
            }
    }
}

#mobile-menu{
    display: none;
}

.carousel{
    height: 100vh;
    overflow: hidden;
    margin-bottom: 3.5rem;
    pointer-events: none;

    .img-container{
        height: 100%;
        width: 100%;
        position: relative;

        .text-container{
            position: absolute;
            left: 10%;
            top: 50%;
            margin-top: -50px;
            width: 45%;
            color: $navy-blue;
            background: rgba($color: #ffffff, $alpha: 0.9);
            padding: 2rem 3rem;
            border-radius: 5px;

            h2{
                font-size: 2.25rem;
                margin-bottom: 12px;
            }
            p{
                font-size: 1.15rem;
            }
        }
    }
}

.main-content{
    margin-bottom: 2rem;

    .section{
        margin-bottom: 2rem;

        li{
            margin-bottom: 8px;
        }
        li:last-child{
            margin-bottom: 0;
        }
        i{
            font-size: 2.75rem;
            margin-bottom: 1rem;
            text-align: center;
            display: block;
        }
    }
    .card-container,
    .business-info-container{
        margin-top: 1rem;
    }
    #about{
        figure{
            width: 40%;
            margin: 0 auto 1rem auto;
        }
    }
    #contact{
        a{
            color: $navy-blue;
            text-decoration: none;
        }
        .form-map-container{
            margin-top: 1.5rem;
            
            .form{
                width: 45%;

                form{
                    display: flex;
                    flex-direction: column;
                    color: $navy-blue;

                    textarea{
                        height: 8rem;
                    }
                    input, textarea{
                        margin-bottom: 1rem;
                        border: 2px solid $navy-blue;
                        padding: 0.5rem 7px;
                        font-family: Helvetica, sans-serif;
                        font-size: 0.95rem;
                        color: $navy-blue;
                    }
                    #submitBtn{
                        margin-bottom: 0;
                        background-color: $navy-blue;
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        cursor: pointer;
                        transition: all 0.5s ease-in;
                    }
                    #submitBtn:hover{
                        background-color: $soft-gray;
                        border-color: $soft-gray;
                        transition: all 0.2s ease-in;
                    }
                    #submitBtn:focus,
                    input:focus,
                    textarea:focus{
                        border-color: $soft-gray;
                    }
                }
            }
            .map{
                iframe{
                    width: 700px;
                    height: 500px;
                }
            }
        }
    }
}

footer{
    background: $navy-blue;
    color: #fff;
    padding: 2rem 0;

    #footer-p{
        text-align: center;
    }

    .logo-info-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .logo{
            width: 25%;
            img{
                padding-bottom: 1rem;
            }
        }
        li{
            margin-bottom: 8px;

            a{
                color: #fff;
                text-decoration: none;
            }
        }
        li:last-child{
            margin-bottom: 0;
        }
    }
}