/* Colors */
/* 
Navy blue: #012639; 
Soft black: #171717;
soft gray: #AAAAAA;
*/

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-weight: 300;
  color: #171717;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: 'Libre Franklin', sans-serif;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}
.secStyle {
  padding-top: 3em;
}
.secStyle h2 {
  font-size: 1.8em; 
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.5em;
  letter-spacing: .75px;
}
.paragraph {
  text-align: center;
  line-height: 1.45em;
}
.flexStyle {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.flexCol {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Header */
header {
  width: 100%;
  height: auto;
}
.mainHead {
  display: flex;
  padding: 1em 0;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 35%;
}
.desktop-nav ul {
  list-style: none;
}
.desktop-nav ul li {
  padding-left: 1em;
  display: inline-block;
}
.desktop-nav ul li a {
  color: #012639;
  text-decoration: none;
}
.desktop-nav ul li a:hover {
  color: #AAAAAA;
  transition: color .3s ease-in-out;
}
.mobile-nav, .open {
  display: none;
}

/* Banner */
.banner {
  width: 100%;
  height: auto;
  position: relative;
}
.bannerPics {
  width: 100%;
  height: auto;
  display: none;
}
.pics {
  width: 100%;
  height: 52em;
  object-fit: cover;
}
.bannerPics .banTxt {
  left: 12%;
  width: 35%;
  height: auto;
  color: #012639;
  padding: 1em 2em;
  position: absolute;
  border-radius: 15px;
  background-color: rgba(255, 255 , 255, 0.85);
}
.bannerPics .one {
  top: 30%;
}
.bannerPics .two {
  top: 45%;
}
.bannerPics .three {
  top: 65%;
}
.bannerPics .banTxt h2 {
  font-size: 2.25em;
  margin-bottom: 15px;
}
.bannerPics .banTxt p {
  font-size: 1.15em;
}

/* Services */
#services p {
  margin-bottom: 2em;
}
.printBox {
  color: #012639;
}
.printBox i {
  font-size: 2.75em;
  padding-left: 1.8em;
}
.printBox h4 {
  margin-top: 1em;
  margin-bottom: 10px;
}
.printBox ul {
  list-style: none;
}
.printBox ul li {
  margin-bottom: 5px;
}

/* Equipment */
#equipment .lists {
  width: 100%;
}
#equipment ul {
  list-style: none;
  padding: 0 5px;
}
#equipment ul li {
  margin-bottom: 5px;
}
#equipment ul li:last-child {
  margin-bottom: 0;
}

/* About Us */
#about figure {
  margin-bottom: 1.5em;
}
#about figure img {
  width: 35%;
  display: block;
  margin: 0 auto;
}

/* Contact Us */
#contact p {
  margin-bottom: 2em;
}
.contactBox {
  color: #012639;
}
.contactBox h4 {
  margin-bottom: 10px;
}
.contactBox ul {
  list-style: none;
}
.contactBox ul li {
  margin-bottom: 5px;
}
.contactBox ul li:last-child {
  margin-bottom: 0;
}

footer {
  width: 100%;
  color: #fff;
  margin-top: 4em;
  background-color: #012639;
}
footer p {
  padding-top: .85em;
}
#bsnsInfo {
  margin-top: 2.25em;
  margin-bottom: 2.25em;
}
#bsnsInfo h4 {
  margin-bottom: 10px;
}
#bsnsInfo ul {
  list-style: none;
}
#bsnsInfo ul li {
  margin-bottom: 5px;
}
#bsnsInfor ul li:last-child {
  margin-bottom: 0;
}
footer #copyright {
  padding-bottom: .85em;
}


